/* -- COLOR -- */
$white: #fff;
$black: #000;
$MineShaft: #2b2b2b;
$PoloBlue: #9bb7d6;
$Porcelain: #ecf0f1;
$HavelockBlue: #5988da;
$RegentGray: #7f8f9f;
$Jumbo: #76777b;
$Edward: #9fa2a3;
$Mojo: #bd3c4b;
$PineGreen: #00796b;
$HippieBlue: #5b8ab5;
$CatskillWhite: #f3f9f9;
$SilverSand: #bdc3c7;
$StTropaz: #236093;
$Shark: #2e2e30;
$PoloBlue: #9bb7d4;
$Abbey: #54575a;
$Silver: #c9c9c9;
/* -- END COLOR -- */