@media (max-width: 1199px) {
  .carSelect {
    max-width: 940px;
  }
}

@media (max-width: 991px) {
  .carSelect {
    max-width: 720px;
  }
  .mainCont {
    .dynamicFormRow {
      &:nth-child(1) {
        margin-top: 150px;
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    background-image: none!important;
  }
  .whiteCard {
    padding: 15px 35px 35px;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      min-height: auto;
    }
  }
  .whiteCardSub {
    padding: 15px 15px 35px;
  }
  .mainCont.pt173 {
    .dynamicFormRow {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
  .mainCont {
    .dynamicFormRow {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .MainSlider {
    .item {
      section {
        min-height: 550px;
      }
      .slide1, .slide2, .slide3 {
        padding-top: 30px;
      }
    }
    .title {
      font-size: 32px;
    }
    .number {
      font-size: 72px;
      margin-right: 10px;
    }
    .text {
      line-height: 20px;
      font-size: 14px;
      padding-top: 10px;
    }
  }
}