html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.cbx-label {
    display: initial;
}

.auth-clients-modal .auth-clients {
    display: inline-block;
    float: none;
    margin-left: 0;
    padding-left: 0;
}

.auth-clients-modal {
    text-align: center;
}

.formDiv {
    padding: 10px;
}

.borderDashed {
    border: 1px dashed black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.additionOptions {
    margin-top: 5px;
}

.districtSelect,
.deliveryAddressBlock {
    margin-top: 7px;
}

.deleteServiceDiv {
    text-align: right;
}

.districtSelect,
.deliveryAddressBlock,
.additionOptions,
.partsOriginal,
.tireTypeWinterParams,
.uploadFilesBlock,
.uploadFilesBlock .btn-file,
.file-footer-caption,
.file-upload-indicator,
.kv-file-upload {
    display: none;
}

.tt-menu .tt-suggestion {
    white-space: normal !important;
}

.file-preview {
    margin-top: 10px;
}

.file-preview-frame {
    height: 100%;
}

.file-drop-zone-title {
    padding: 10px 10px !important;
    font-size: 30px !important;
}

.file-actions {
    position: absolute;
    margin-top: 0;
    right: 0;
    top: -100px;
}

.withoutPadding {
    padding: 0;
}

.withoutPadding .col-md-12 {
    padding: 0;
}

.ajaxLink.active {
    background-color: #bbe7f5 !important;
}

.partsSide {
    margin-bottom: 10px;
    font-size: 10px;
    display: inline-block;
}

#yandexMap,
#yandexMapCompany,
#yandexMapRequest {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

#yandexMapCompany {
    height: 200px;
}

.verifyCodeInput {
    margin-top: 10px;
}

.verifyCodeBlock .help-block {
    padding-left: 10px;
}

.navbar-header {
    margin-right: 30px !important;
}

.navbar-brand > img {
    margin-top: -6px;
}

.wizardMenu ul {
    margin-left: 0;
    padding: 0;
    margin-bottom: 20px;
}

.wizardMenu li {
    display: inline-block;
    padding: 0;
    text-align: center;
    height: 30px;
    font-size: 20px;
}

.wizardMenu li.past-step {
    background-color: #bbe7f5;
}

.wizardMenu li.active {
    background-color: lightgreen;
}

.form-row.buttons .btn {
    margin-right: 10px;
}

.checkBoxButtonFormGroup label,
.radioButtonFormGroup label {
    display: block;
}

.categoryRubrics {
    margin-left: 40px;
    margin-top: -9px;
}

.radioList label {
    display: block;
}

.text-bold {
    font-weight: bold;
}

.text-error {
    color: red;
}

.imageBlock {
    padding: 10px;
}

.requestInfo table {
    table-layout: fixed;
}

.dynamicFormRow, .dynamicFormRowView {
    padding: 10px;
    border: 2px solid lightgrey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.dropDownTimes {
    margin-top: 13px;
}

.textArea {
    width: 100%;
    height: 200px;
    resize: none;
}

.dialogMessageForMe,
.dialogMessageMy {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.dialogMessageForMe {
    background-color: #e8e8e8;
}

.dialogMessageMy {
    margin-left: 30px;
    background-color: #c1eefc;
}

.modal-body {
    max-height: 600px;
}

.dialogHistory {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messageDate {
    font-size: 12px;
    color: grey;
}